<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-4">
    <div class="container">
        <a class="navbar-brand text-white m-0" href="{{ site.url }}/">
            <img src="{{ site.url }}/assets/img/logo-white.svg" width="60" height="60" class="d-inline-block align-top pt-2" alt="">
            <div class="d-inline-block">
                <div class="d-block playfair p-0 title">Murilo Godoy</div>
                <div class="d-block col-12 playfair p-0 subtitle">Advocacia Internacional</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                {% for item in site.data.en.navbar %}
                <li class="nav-item{% if page.url == item.link %} active{% endif %}{% if item.dropdown == 'dropdown' %} dropdown{% endif %} text-center py-2">
                    {% if item.dropdown == 'dropdown' %}
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.name }}
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for subitem in item.submenu %}
                                <a class="dropdown-item" href="{{ site.url }}{{ subitem.link }}">{{ subitem.name }}</a>
                                {% endfor %}
                            </div>
                    {% else %}
                    <a class="nav-link" href="{{ site.url }}{{ item.link }}">{{ item.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item d-flex justify-content-center">
                    {% for item in site.data.en.contacts %}
                    <a class="icons nav-link px-2 pt-1" href="{{ item.link }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.type }}"><img src="{{ site.url }}/assets/img/icons/{{ item.icon }}" alt="" class="d-inline-block" width="25px" height="25px"></a>
                    {% endfor %}
                    <a class="icons nav-link px-2 pt-1" href="{{ site.url }}" data-toggle="tooltip" data-placement="bottom" title="Português"><img src="{{ site.url }}/assets/img/portugal.svg" alt="" class="d-inline-block" width="25px" height="25px"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
