<div id="about" class="bg-light text-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 p-0 d-flex align-items-center">
                <img src="assets/img/mg1.png" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-6 px-lg-5 py-5 my-auto">
                <h2 class="display-4 playfair text-primary">Sobre Nós</h2>
                <hr width="100px" align="left">
                <p class="poppins pt-3">
                    O Escritório foi objeto de reunião de esforços entre Advogados, em Portugal e no Brasil, com carreiras consolidadas na área jurídica, com objetivo de prestação de serviços jurídicos com excelência, pautados pela eficiência, transparência, ética e responsabilidade.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="about" class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 p-0 order-md-last d-flex align-items-center">
                <img src="assets/img/mg2.png" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-6 px-lg-5 py-5 my-auto">
                <h2 class="display-4 playfair text-primary">Foco nos Negócios</h2>
                <hr width="100px" align="left">
                <p class="poppins py-3">
                    Trabalhando com diversas áreas da pratica jurídica, destacando <span class="font-weight-bold">consultorias jurídicas internacionais, estudos fiscais e aduaneiros da União Europeia, família internacional, tributário internacional, direito de starup e open innovation e representações à pessoa coletiva (PJ's) na união europeia</span>.
                </p>
                <a class="btn btn-primary btn-lg poppins mb-3" href="#" role="button">Saiba Mais</a>
            </div>
        </div>
    </div>
</div>
<div id="about" class="bg-light text-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 p-0 d-flex align-items-center">
                <img src="assets/img/mg3.png" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-6 px-lg-5 py-5 my-auto">
                <h2 class="display-4 playfair text-primary">Outras Áreas de Atuação</h2>
                <hr width="100px" align="left">
                <p class="poppins pt-3">
                    Temos uma grande atuação na <span class="font-weight-bold">área de imigração e naturalização portuguesa</span>, desde o aconselhamento legal preventivo de clientes até sua efetiva representação perante o S.E.F. (Serviço Estrangeiro de Fronteira) e também nos tribunais de competência.
                </p>
                <p class="poppins">
                    Viver legalmente em Portugal é uma conquista significativa para centenas de famílias e indivíduos de diversos países.
                </p>
                <p class="poppins pb-3">
                    Com assistência em português, inglês e espanhol, nós oferecemos diversos serviços. Aceda acima no link "ATUAÇÃO" e confira os nossos serviços e/ou acesse diretamente na área reservada para o seu agendamento.
                </p>
                <a class="btn btn-primary btn-lg poppins mb-3" href="#" role="button">Agendamento</a>
            </div>
        </div>
    </div>
</div>
<div id="about" class="bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 p-0 order-md-last d-flex align-items-center">
                <img src="assets/img/mg4.png" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-6 px-lg-5 pt-3 pb-3 my-auto">
                <p class="poppins pt-5 pb-3">
                    Com fundamentos legais nos Decreto Lei n. 28/2000 de 13 de março, c/c Decreto Lei n. 237/2001 de 30 de agosto, c/c o art. 38 do Decreto Lei n. 76-A/2006 de 29 de março, e c/c o Decreto Lei n. 116/2008 de 04 de julho, c/c Decreto Lei 125/2006 de 29 de junho, c/c Portaria n.º 1535/2008, de 30 de dezembro, na redacção da Portaria n.º 286/2012, de 20 de setembro, c/c Regulamento Emolumentar dos REGISTOS E NOTORIADO, aprovado pelo Decreto-Lei n.º 322-A/2001, de 14 de Dezembro - Portaria 574/2008 de 4 de Julho - Portaria 385/2004 de 16 de Abril, c/c as alíneas "a" e "d" do n.1 do art 3 do Código de Notários, foram criados condições para os Advogados prestarem serviços relacionados a todos estes actos realizados com a mesma força e o mesmo valor probatório dos actos congéneres praticados por notário.
                </p>
                <a class="btn btn-primary btn-lg poppins mb-5" href="#" role="button">Atos Notariais</a>
            </div>
        </div>
    </div>
</div>
