<div id="about" class="bg-secondary text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 ml-auto">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="assets/img/about.jpg" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 col-lg-7 ml-auto">
                <p>text</p>
            </div>
        </div>
    </div>
</div>
