    <div id="contact" class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 pb-5">
                <h2 class="pb-3">Contact</h2>
                {% for item in site.data.contacts %}
                <p>
                    <a class="text-light" target="_blank" href="{{ item.url }}">
                        <i class="{{ item.icon }} pr-4"></i>
                        {{ item.formated }}
                    </a>
                </p>
                {% endfor %}
                <div class="row">
                    <div class="col-auto">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div class="col-auto">
                        Street Name, 000
                        <br> 
                        City, State
                        <br>
                        Zip Code
                        <br>
                        Country
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.018172250668!2d12.483136314967178!3d41.8924662724948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61b383a9cdef%3A0xfa914007c0ec7de6!2sRoman%20Forum!5e0!3m2!1sen!2sbr!4v1578422446669!5m2!1sen!2sbr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" class="shadow"></iframe>
            </div>
        </div>
    </div>
</div>
