<div id="home" class="jumbotron d-flex align-items-center justify-content-center my-0">
    <div class="comtainer">
    <div class="col-lg-10 mx-auto text-center text-white">
        <h1 class="display-3 font-weight-bold playfair pt-5">De <span class="text-primary">Portugal</span> para o <span class="text-primary">Mundo</span></h1>
        <p class="lead poppins py-3">Somos um Escritório sediado em Portugal e atendemos a clientes localizados em diversos países.</p>
        <a class="btn btn-primary btn-lg poppins" href="#" role="button">Saiba Mais</a>
    </div>
    </div>
</div>
