#home {
    hr {
        border: 1px solid $primary;
    }
    min-height: 100%;
    ul {
        padding: 0px;
        list-style-type: none;
    }
    .photo-1 {
        min-height: 300px;
        background-image: url("../img/escritorio.jpeg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
