#immigration {
    .jumbotron {
        padding: $jumbotron-padding ($jumbotron-padding / 2);
        margin-bottom: $jumbotron-padding;
        color: $jumbotron-color;

        @include media-breakpoint-up(sm) {
            padding: ($jumbotron-padding * 2) $jumbotron-padding;
        }
        height: 50%;
        background-image: linear-gradient(rgba(20, 29, 40, 0.73), rgba(20, 29, 40, 0.73)), url("../img/areas/flags.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        hr {
            border-color: white;
        }
    }
}
